# Logs
*.log
*.tmp
Temp/

# Logs
*.log
*.tmp
Temp/

# Large backups
*.rar
OpenJDK25U-jdk_x64_windows_hotspot_25.0.1_8.msi
TEMP/

config/TaurikAdmins.cs
config/Admin Attempts Log.txt
config/Connections Log.txt
config/Raw Log.txt

# Remote admin console secret (telnet rcon password)
config/RemoteConsole.local.cs
